.App {
  text-align: center;
}

:root{
  font-size: 16px;
}

.login-page-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;

    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
    input{
      width: 20rem;
      height: 2rem;
    }
    button{
      width: 10rem;
      height: 1.5rem;
    }
}
